.body{
    font-family: Arial;  
 background: url('./assest/log.jpg');
 display: flex;
background-position: center;
background-size: cover;
align-items: center;
justify-content: center;

}

.login-container{
    background: #ffffff58;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px #7db0dc;
    width:330px;
    align-items: center;
    margin-top: 60px;
}

.input-item{
    width: 80%;
    max-width: 600px;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    border: none;
    border-bottom: #30619c;
   outline: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}


.btn {
  width: 50%;
  padding: 10px;
  color:white;
  border: none;
  cursor: pointer;
  border-radius: 19px;
  background-image: linear-gradient(to bottom right, #447ef2fa, #2fd7f4);
  justify-content: center;
  display: flex;
  
}

h2{
    text-align: center;
}

.error{
    color: red;
    font-size: 12px;
    margin: 0;
    margin-right: 160px;
}

.message{
    text-align: center;
    font-size: 14px;
    color: green;
}

.forgot{
    text-align: right;
    margin-top: -10px;
    margin-top: 15px;
}
.forgot a{
    font-size: 13px;
    color: blue;
    text-decoration: none;
}

.forgot a:hover{
    text-decoration: underline;
    color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(213, 232, 243, 0.717);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(16, 15, 15);
}

.otp-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

#opaque {
  background: #eee;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
}

#otpInput {
  flex: 1;
  padding: 8px;
  font-size: 18px;
  border-radius: 15px;
text-align: center;
}

.otp-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  gap: 10px;
 
  
}

.re{
    font-size: 15px;
    background-color: gray;
     border-radius: 10px;
     padding: 10px;
    border: none;
    color: white;

}

.mit{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(29, 53, 240);
    border: none;
    color: white;

}

.Show{
    margin-left:  20px;
  
}




